body {
  margin: 00;
  font-family: Arial, Helvetica, sans-serif;
}
.topnav {
  overflow: hidden;
  background-color: #a70c01;
}
.topnav a {
  float: right;
  color: rgb(248, 246, 246);
  text-align: left;
  padding: 20px 25px;
  text-decoration: none;
  font-size: 25px;
}
.topnav a:hover {
  background-color: #2881d4;
  color: rgb(216, 30, 160);
}
.mainbody h1 {
  color: rgb(243, 235, 235);
  margin-bottom: 0%;
}
.mainbody p {
  color: red;
  margin-top: 0%;
}
.mainbody {
  background-color: rgb(48, 47, 47);
  color: rgb(255, 255, 255);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 230px 80px;
  font-size: 25px;
}
.title {
  background-color: rgb(30, 5, 88);
  color: rgb(255, 255, 255);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 15px;
  margin: 0;
  padding: 500px 350px;
}
.pic1 {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.pic {
  flex-wrap: wrap;
}
.networklink {
  background-color: rgb(9, 1, 27);
  color: rgb(255, 255, 255);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 200px 80px;
  font-size: 22px;
}
.contactdetails {
  background-color: rgb(44, 43, 46);
  color: rgb(255, 255, 255);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 75px 80px;
  font-size: 10px;
}
